<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01.状态cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>かける</string>
			<key>CN</key>
			<string>动作未结束</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-2A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>抜く</string>
			<key>CN</key>
			<string>到最后</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-2D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ところ</string>
			<key>CN</key>
			<string>刚要开始／刚刚结束／正在进行</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>3-4A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>たところ</string>
			<key>CN</key>
			<string>.. 后，发现 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>3-4B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>たきり</string>
			<key>CN</key>
			<string>.. 后，就再也 ..／一直、只有</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>3-5B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>っぱなし</string>
			<key>CN</key>
			<string>置之不理（消极）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>3-5D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>一方だ</string>
			<key>CN</key>
			<string>不断的 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>3-6D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>上で</string>
			<key>CN</key>
			<string>.. 之后再 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-1B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>つつある</string>
			<key>CN</key>
			<string>在进行中、正在 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-4C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>にあたり</string>
			<key>CN</key>
			<string>在 .. 的时候</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-6A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>に沿って</string>
			<key>CN</key>
			<string>按照</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-6B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>に先立ち</string>
			<key>CN</key>
			<string>在 .. 之前</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-6C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>にわたって</string>
			<key>CN</key>
			<string>期间、范围</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-6D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ことなく</string>
			<key>CN</key>
			<string>不停地</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-2C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>に際して</string>
			<key>CN</key>
			<string>在 .. 的时候</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-6A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>の下で</string>
			<key>CN</key>
			<string>在 .. 之下</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-6D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>以来</string>
			<key>CN</key>
			<string>自从 .. 以后</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-1A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>折には</string>
			<key>CN</key>
			<string>.. 的时候</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-1D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>から .. にかけて</string>
			<key>CN</key>
			<string>从 .. 到 ..（大范围时间、地点）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-3C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>の際に</string>
			<key>CN</key>
			<string>［硬］.. 的时候（正式）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-6D</string>
		</dict>
	</array>
	<key>02.状态2cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>っこない</string>
			<key>CN</key>
			<string>不可能</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-1A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>かねない</string>
			<key>CN</key>
			<string>有可能（不好的结果）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-1B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>かねる</string>
			<key>CN</key>
			<string>难以、无法 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-1C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>がたい</string>
			<key>CN</key>
			<string>难以 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-1D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>当然だ</string>
			<key>CN</key>
			<string>当然</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-3A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>のももっともだ</string>
			<key>CN</key>
			<string>.. 也是理所当然的</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-3B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>同然だ</string>
			<key>CN</key>
			<string>跟 .. 一样</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-3C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>だけましだ</string>
			<key>CN</key>
			<string>比 .. 好一点／.. 就算不错了</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-3D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ではないか</string>
			<key>CN</key>
			<string>强烈的邀请／强烈的意志</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-5A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ようがない</string>
			<key>CN</key>
			<string>没有办法</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-5B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>かのようだ</string>
			<key>CN</key>
			<string>简直就像</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-5C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>そうにない</string>
			<key>CN</key>
			<string>看起来不会 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-5D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>とか</string>
			<key>CN</key>
			<string>听说 ..（不确定的）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-4A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>恐れがある</string>
			<key>CN</key>
			<string>恐怕 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-5A</string>
		</dict>
	</array>
	<key>03.限定</key>
	<array>
		<dict>
			<key>JP</key>
			<string>ものなら</string>
			<key>CN</key>
			<string>要是能 ..</string>
			<key>Detail</key>
			<string>
    要是能 ..(不太可能的一种假设)
                
    Vれる　ものなら
    Vれる　もんなら[口语]
            </string>
			<key>Index</key>
			<string>1-2A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>うちに</string>
			<key>CN</key>
			<string>趁着 ..</string>
			<key>Detail</key>
			<string>
    趁着 ..
    
    Vない　うちに
    Vている　うちに
    Aい　うちに
    naな　うちに
    Nの　うちに
            </string>
			<key>Index</key>
			<string>2-3A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>か .. ないかのうちに</string>
			<key>CN</key>
			<string>刚 .. 就 ..</string>
			<key>Detail</key>
			<string>
    刚 .. 就 ..(同时发生)
    
    Vるか　Vないかの　うちに
            </string>
			<key>Index</key>
			<string>2-3B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>限り</string>
			<key>CN</key>
			<string>只要 .. 就 ..／在范围内进行判断</string>
			<key>Detail</key>
			<string>
    只要 .. 就 ..
    Vる/Vない　限り(は)
    Aい/Aくない　限り(は)
    naな/naである　限り(は)
    Nである　限り(は)
    
    在范围内进行判断
    Vる/Vた　限り(では)
    Vている　限り(では)
            </string>
			<key>Index</key>
			<string>2-3C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>に限り</string>
			<key>CN</key>
			<string>限定</string>
			<key>Detail</key>
			<string>
    限定
    
    Nに　限り
    Nに　限って
    N(数量/时间)　限り
    
    不仅 ..
    Nに　限らず ..も
            </string>
			<key>Index</key>
			<string>2-3D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>さえ</string>
			<key>CN</key>
			<string>只要 .. 就 ..</string>
			<key>Detail</key>
			<string>
    只要 .. 就 ..
    
    Nさえ　Vば
    Nさえ　Aければ
    Nさえ　naなら
    Nさえ　Nなら
    V(ます形去掉ます)さえ　すれば
            </string>
			<key>Index</key>
			<string>2-4A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>からこそ</string>
			<key>CN</key>
			<string>正因为 ..</string>
			<key>Detail</key>
			<string>
    正因为 ..(强调)
    
    V/A/na/N(普)　からこそ
    Vば　こそ
    Aければ　こそ
    naであれば　こそ
    Nであれば　こそ
            </string>
			<key>Index</key>
			<string>2-4B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>てこそ</string>
			<key>CN</key>
			<string>正因为 .. 才 ..／只有 .. 才 ..</string>
			<key>Detail</key>
			<string>
    正因为 .. 才 ..／只有 .. 才 ..
    
    Vてこそ
    ＝Vて　はじめて
            </string>
			<key>Index</key>
			<string>2-4C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ばかりだ</string>
			<key>CN</key>
			<string>不断 ..</string>
			<key>Detail</key>
			<string>
    不断 ..(某种状态一直持续)
    Vるばかりだ
    
    只有 ..／只能 ..
    (ただ)Vるばかりだ
    (ただ)Vるのみだ[硬]
            </string>
			<key>Index</key>
			<string>2-4D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>わけだ</string>
			<key>CN</key>
			<string>理所当然</string>
			<key>Detail</key>
			<string>
    理所当然
    
    A/na/V(普)　わけだ
    na(だ形去掉だ)　わけだ
    Vている/Vていた　わけだ
    Vられる/Vさせる　わけだ
            </string>
			<key>Index</key>
			<string>3-2A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>わけではない</string>
			<key>CN</key>
			<string>并不是 ..</string>
			<key>Detail</key>
			<string>
    并不是 ..
    
    A/na/V(普)　わけではない/わけでもない
    na(だ形去掉だ)　わけではない/わけでもない
    Vている/Vていた　わけではない/わけでもない
    Vられる/Vさせる　わけではない/わけでもない
            </string>
			<key>Index</key>
			<string>3-2B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>わけがない</string>
			<key>CN</key>
			<string>绝对不可能</string>
			<key>Detail</key>
			<string>
    绝对不可能
    
    A/na/V(普)　わけがない/わけはない
    na(だ形去掉だ)　わけがない/わけはない
    Vている/Vていた　わけがない/わけはない
    Vられる/Vさせる　わけがない/わけはない
            </string>
			<key>Index</key>
			<string>3-2C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>わけにはいかない</string>
			<key>CN</key>
			<string>不能做某事</string>
			<key>Detail</key>
			<string>
    不能做某事(受到某种客观条件制约)
    
    Vる　わけにはいかない/わけにもいかない
    Vない　わけにはいかない/わけにもいかない
    Vている　わけにはいかない/わけにもいかない
    Vさせる　わけにはいかない/わけにもいかない
            </string>
			<key>Index</key>
			<string>3-2D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>とたん</string>
			<key>CN</key>
			<string>刚 .. 就 ..</string>
			<key>Detail</key>
			<string>
    刚 .. 就 ..(描述状态)
    
    Vた　とたん
    Vた　とたんに
    Vた。そのとたん
            </string>
			<key>Index</key>
			<string>3-3A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>あげく</string>
			<key>CN</key>
			<string>.. 之后，结果 ..</string>
			<key>Detail</key>
			<string>
    .. 之后，结果 ..(消极的后果)
    
    Vた　あげく
    Vた　あげくに
    Vた　あげくの　N
    Vた。そのあげく
    
    N(去掉する)の　あげく
    N(去掉する)の　あげくに
    N(去掉する)の　あげくの　N
            </string>
			<key>Index</key>
			<string>3-3B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>末</string>
			<key>CN</key>
			<string>.. 之后</string>
			<key>Detail</key>
			<string>
    .. 之后(结局、结果)
    
    Vた　末
    Vた　末に
    Vた　末の　N
    
    N(去掉する)の　末
    N(去掉する)の　末に
    N(去掉する)の　末の　N
            </string>
			<key>Index</key>
			<string>3-3C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>と思ったら</string>
			<key>CN</key>
			<string>刚 .. 就又 ..</string>
			<key>Detail</key>
			<string>
    刚 .. 就又 ..
    
    Vたかと　思ったら
    Vたかと　思うと
    
    Vたと　思ったら
    Vたと　思うと
            </string>
			<key>Index</key>
			<string>3-3D</string>
		</dict>
	</array>
	<key>04.伴随cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>とともに</string>
			<key>CN</key>
			<string>同时发生</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-6A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>に伴って</string>
			<key>CN</key>
			<string>伴随着 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-6B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>につれて</string>
			<key>CN</key>
			<string>随着 ..（联动）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-6C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>にしたがって</string>
			<key>CN</key>
			<string>随着 ..（从属）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-6D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>にこたえて</string>
			<key>CN</key>
			<string>应 .. 的要求</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-3A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>に基づいて</string>
			<key>CN</key>
			<string>基于 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-6B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>に応じて</string>
			<key>CN</key>
			<string>按照、根据</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-6C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>から言うと</string>
			<key>CN</key>
			<string>从 .. 来说</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-2A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>からすると</string>
			<key>CN</key>
			<string>从 .. 来判断</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-2B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>からして</string>
			<key>CN</key>
			<string>光从 .. 来看</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-2C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>から見ると</string>
			<key>CN</key>
			<string>从 ..角度来看</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-2D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>を中心に</string>
			<key>CN</key>
			<string>以 .. 为中心</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-4A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>をこめて</string>
			<key>CN</key>
			<string>满怀 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-4B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>を通じて</string>
			<key>CN</key>
			<string>通过 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-4C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>を頼りに</string>
			<key>CN</key>
			<string>依靠 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-4D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>をもとに</string>
			<key>CN</key>
			<string>基于 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-6A</string>
		</dict>
	</array>
	<key>05.转折</key>
	<array>
		<dict>
			<key>JP</key>
			<string>ものの</string>
			<key>CN</key>
			<string>虽然 .. 但是 ..</string>
			<key>Detail</key>
			<string>
    虽然 .. 但是 ..(在一定程度上接受，但也有所保留)
                
    V/A/na/N(普)　ものの
    na(だ形去掉だ)な　ものの
    N(だ形去掉だ)である　ものの
            </string>
			<key>Index</key>
			<string>1-2D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>まだしも</string>
			<key>CN</key>
			<string>.. 也就算了，..</string>
			<key>Detail</key>
			<string>
    .. 也就算了，..(一定程度承认前项，同时在后项得出相反的结果)
                
    Nは　まだしも
    Nなら　まだしも
            </string>
			<key>Index</key>
			<string>1-3C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>に反して</string>
			<key>CN</key>
			<string>与 .. 相反</string>
			<key>Detail</key>
			<string>
    与 .. 相反
                
    Nに　反して
    Nに　反し
    Nに　反する　N
            </string>
			<key>Index</key>
			<string>3-6A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>一方</string>
			<key>CN</key>
			<string>一方面 .. ，另一方面却 ..</string>
			<key>Detail</key>
			<string>
    一方面 .. ，另一方面却 ..(不是正反的特性也可以)
                
    Nである　一方(で)
    naな　一方(で)
    naである　一方(で)
    Aい　一方(で)
    Vる　一方(で)
            </string>
			<key>Index</key>
			<string>3-6C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>上では</string>
			<key>CN</key>
			<string>从某个方面看 .. ，但 ..</string>
			<key>Detail</key>
			<string>
    从某个方面看 .. ，但 ..
                
    Nの　上では
    Nの　上でも
                
    N　上
    N　上は
    N　上も
            </string>
			<key>Index</key>
			<string>4-1D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ながら</string>
			<key>CN</key>
			<string>虽然 .. 却 ..</string>
			<key>Detail</key>
			<string>
    虽然 .. 却 ..
                
    N　ながら
    na　ながら
    Aい　ながら
    V(ます形去掉ます)　ながら
            </string>
			<key>Index</key>
			<string>4-4A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>つつ</string>
			<key>CN</key>
			<string>一边 .. ，一边（却） ..</string>
			<key>Detail</key>
			<string>
    一边 .. ，一边（却） ..
    V(ます形去掉ます)　つつ(も)　V[硬]
                
    一边 .. ，一边（同时） ..
    V(ます形去掉ます)　つつ　V
                
    进行中，正在 ..
    V(ます形去掉ます) つつある
            </string>
			<key>Index</key>
			<string>4-4B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>それなのに</string>
			<key>CN</key>
			<string>尽管如此，却 ..</string>
			<key>Detail</key>
			<string>
    尽管如此，却 ..
                
    A(事实)。 それなのに　B(预想外的结果)。
    ＝ところが
            </string>
			<key>Index</key>
			<string>8-1A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>それでも</string>
			<key>CN</key>
			<string>即便如此，还是 ..</string>
			<key>Detail</key>
			<string>
    即便如此，还是 ..
                
    A(状况)。 それでも　B(和A相反的意见、结果)。
    ＝だけど/けれども/しかし
            </string>
			<key>Index</key>
			<string>8-1B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>それが</string>
			<key>CN</key>
			<string>预想外的结果、却 ..</string>
			<key>Detail</key>
			<string>
    预想外的结果
    A。 それが　B(和A相反的内容)。
                
    与预想的相反
    A(预定、预想)。 それが　B(和A不同的结果)。
    ＝ところが/それなのに
            </string>
			<key>Index</key>
			<string>8-2A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>だが</string>
			<key>CN</key>
			<string>［硬］但是</string>
			<key>Detail</key>
			<string>
    ［硬］但是
                
    A。 だが　B。
            </string>
			<key>Index</key>
			<string>8-3C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ただし</string>
			<key>CN</key>
			<string>但是（补充例外）／转折（添加问题点）</string>
			<key>Detail</key>
			<string>
    但是（补充例外）
    A。 ただし　B。
                
    转折（添加问题点）
    A。 ただ　B。
            </string>
			<key>Index</key>
			<string>8-4D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>もっとも</string>
			<key>CN</key>
			<string>不过 ..（对前文修正）</string>
			<key>Detail</key>
			<string>
    不过 ..（对前文修正）
                
    A。 もっとも　B。
    ＝ただし
            </string>
			<key>Index</key>
			<string>8-5A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>さて</string>
			<key>CN</key>
			<string>转换话题</string>
			<key>Detail</key>
			<string>
    转换话题
                
    A。 さて　B。
            </string>
			<key>Index</key>
			<string>8-5C</string>
		</dict>
	</array>
	<key>06.因果cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>ものだから</string>
			<key>CN</key>
			<string>因为 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-2B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>だもの</string>
			<key>CN</key>
			<string>因为 ..（辩解、说明）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-2C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>あまり</string>
			<key>CN</key>
			<string>太 .. 以致 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>3-1D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ことから</string>
			<key>CN</key>
			<string>因为 .. 所以 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-2A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ばかりに</string>
			<key>CN</key>
			<string>就因为 ..（不好的结果的成因）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-4C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>につき</string>
			<key>CN</key>
			<string>［硬］（正式的）理由</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-6B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>をきっかけに</string>
			<key>CN</key>
			<string>以 ..为契机</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-6C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>それで</string>
			<key>CN</key>
			<string>所以／所以呢？</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-1D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>そこで</string>
			<key>CN</key>
			<string>所以（采取措施）／转换话题</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-2B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>だって</string>
			<key>CN</key>
			<string>辩解／陈述理由</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-3D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>というのは</string>
			<key>CN</key>
			<string>因为 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-4B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>したがって</string>
			<key>CN</key>
			<string>因此 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-4C</string>
		</dict>
	</array>
	<key>07.关于cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>向け</string>
			<key>CN</key>
			<string>面向 ..／适合 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-2A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>次第で</string>
			<key>CN</key>
			<string>看 .. 的情况、意向</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-2B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>に対して</string>
			<key>CN</key>
			<string>以 .. 为对象／与 .. 相反</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-3B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>により</string>
			<key>CN</key>
			<string>手段、根据、原因、情况</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-3C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>にかかわって</string>
			<key>CN</key>
			<string>与 .. 有关／关系到 .. （生命、自尊等）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-3D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>にかけては</string>
			<key>CN</key>
			<string>在 .. 方面</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-3D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>をはじめ</string>
			<key>CN</key>
			<string>以 .. 为首</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-6A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>をめくって</string>
			<key>CN</key>
			<string>围绕着</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-6B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>において</string>
			<key>CN</key>
			<string>在 .. （场所、状况）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-6C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>にて</string>
			<key>CN</key>
			<string>地点、场所、方法</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-6D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>そういえば</string>
			<key>CN</key>
			<string>对了 .. （有关联的）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-2C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>それはそうと</string>
			<key>CN</key>
			<string>对了 .. （转换话题）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-2D</string>
		</dict>
	</array>
	<key>08.绝对cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>まい</string>
			<key>CN</key>
			<string>意志上否定</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-4B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>まい</string>
			<key>CN</key>
			<string>否定的推测</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-4C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>決まっている</string>
			<key>CN</key>
			<string>肯定 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-5A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>とは限らない</string>
			<key>CN</key>
			<string>未必 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-5B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ほかない</string>
			<key>CN</key>
			<string>只能 ..（无奈）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-5C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ほかならない</string>
			<key>CN</key>
			<string>［硬］完全是 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-5D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ものだ</string>
			<key>CN</key>
			<string>常识／希望</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-3A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ものではない</string>
			<key>CN</key>
			<string>不能、不要（建议）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-3B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>というものだ</string>
			<key>CN</key>
			<string>强调、主张</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-3C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ものか</string>
			<key>CN</key>
			<string>强烈的否定</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-3D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ものがある</string>
			<key>CN</key>
			<string>［硬］强烈的断定</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-5B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ものでもない</string>
			<key>CN</key>
			<string>［硬］并不是越 .. 就越 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-5C</string>
		</dict>
	</array>
	<key>09.程度cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>たまらない</string>
			<key>CN</key>
			<string>.. 得无法忍受</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-4A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>しようがない</string>
			<key>CN</key>
			<string>太 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-4B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>かなわない</string>
			<key>CN</key>
			<string>（困难）无法忍受</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-4C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ならない</string>
			<key>CN</key>
			<string>不由的 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-4D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ねばならない</string>
			<key>CN</key>
			<string>［硬］必须</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-6A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>てはならない</string>
			<key>CN</key>
			<string>［硬］不可以</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-6B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>いられない</string>
			<key>CN</key>
			<string>无法进行下去</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-6C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>いられない</string>
			<key>CN</key>
			<string>不能光是 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-6D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>切る</string>
			<key>CN</key>
			<string>全部、完全、非常</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-2B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>どころではない</string>
			<key>CN</key>
			<string>强烈的否定</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>3-4C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>だらけ</string>
			<key>CN</key>
			<string>净是 ..（负面）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>3-5A</string>
		</dict>
	</array>
	<key>10.条件cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>上は</string>
			<key>CN</key>
			<string>既然</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-1C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>次第</string>
			<key>CN</key>
			<string>一 .. 就 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-2C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>かまわず</string>
			<key>CN</key>
			<string>不管、顾不上</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-1A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>にもかかわらず</string>
			<key>CN</key>
			<string>尽管</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-1B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>にかかわらず</string>
			<key>CN</key>
			<string>不管、无论</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-1C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>を問わず</string>
			<key>CN</key>
			<string>与 .. 无关、不论</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-1D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>につけ</string>
			<key>CN</key>
			<string>不管哪种情况／每当</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-2B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>にしろ</string>
			<key>CN</key>
			<string>不管是这种情况还是那种情况／就算 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-2C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>それなら</string>
			<key>CN</key>
			<string>如果 .. 那么 ..／既然 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-1C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>すると</string>
			<key>CN</key>
			<string>a，结果b／从a来判断，那么b</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-5D</string>
		</dict>
	</array>
	<key>11.递进cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>もとより</string>
			<key>CN</key>
			<string>不用说a，b也 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-3A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ともかく</string>
			<key>CN</key>
			<string>a暂且不提，b ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-3B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>どころか</string>
			<key>CN</key>
			<string>别说a了，就连b也 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>3-4D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>上に</string>
			<key>CN</key>
			<string>不仅 .. 而且 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-1A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>だけあって</string>
			<key>CN</key>
			<string>不愧是 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-4A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ばかり .. も</string>
			<key>CN</key>
			<string>不仅 .. 也 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-4B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>のみならず</string>
			<key>CN</key>
			<string>不仅 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-4D</string>
		</dict>
	</array>
	<key>12.假设cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>としたら</string>
			<key>CN</key>
			<string>如果 ..（假定）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-5B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>としても</string>
			<key>CN</key>
			<string>即使 .. 也 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-5C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ないことには .. ない</string>
			<key>CN</key>
			<string>如果不 .. 就不 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-2D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>以上</string>
			<key>CN</key>
			<string>既然 .. 就 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-1B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>からには</string>
			<key>CN</key>
			<string>既然 .. 就 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-1C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>からといって</string>
			<key>CN</key>
			<string>就算 .. 也 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-3A</string>
		</dict>
	</array>
	<key>13.并列cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>反面</string>
			<key>CN</key>
			<string>.. 的同时，另一方面也 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>3-6B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>も .. ば .. も</string>
			<key>CN</key>
			<string>既 .. 又 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-2D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>やら</string>
			<key>CN</key>
			<string>列举</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-2A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>しかも</string>
			<key>CN</key>
			<string>而且 ..（累加）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-6B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>おまけに</string>
			<key>CN</key>
			<string>而且 ..（消极）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-6C</string>
		</dict>
	</array>
	<key>14.解释cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>次第です</string>
			<key>CN</key>
			<string>解释说明</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-2D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>すなわち</string>
			<key>CN</key>
			<string>也就是说 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-3A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ということは</string>
			<key>CN</key>
			<string>这么说来 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-4A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>なお</string>
			<key>CN</key>
			<string>另外 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-5B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>要するに</string>
			<key>CN</key>
			<string>总之</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-6A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ちなみに</string>
			<key>CN</key>
			<string>补充、顺便说一下</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-6D</string>
		</dict>
	</array>
	<key>15.双重否定cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>ないことはない</string>
			<key>CN</key>
			<string>也不是不 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-5A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ないこともない</string>
			<key>CN</key>
			<string>也不是不能 ..（强调）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-5B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ないではいられない</string>
			<key>CN</key>
			<string>禁不住、不得不</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-5C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ずにはいられない</string>
			<key>CN</key>
			<string>［硬］免不了、忍不住</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-5D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>てからでないと .. できない</string>
			<key>CN</key>
			<string>不先 .. 就不能 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-3B</string>
		</dict>
	</array>
	<key>16.应该cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>べきだ</string>
			<key>CN</key>
			<string>应该</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-5A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ざるをえない</string>
			<key>CN</key>
			<string>不得不 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-5B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ことになっている</string>
			<key>CN</key>
			<string>规定、既定的结果</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-5C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>にすぎない</string>
			<key>CN</key>
			<string>只不过是 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-5D</string>
		</dict>
	</array>
	<key>17.选择cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>か .. まいか</string>
			<key>CN</key>
			<string>是 .. 还是 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>6-4D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>あるいは</string>
			<key>CN</key>
			<string>.. 或者 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>8-3B</string>
		</dict>
	</array>
	<key>18.其他cn</key>
	<array>
		<dict>
			<key>JP</key>
			<string>げ</string>
			<key>CN</key>
			<string>某种神情</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-1A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>がち</string>
			<key>CN</key>
			<string>经常</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-1B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>っぽい</string>
			<key>CN</key>
			<string>某种倾向（貌似）</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-1C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>気味</string>
			<key>CN</key>
			<string>有点儿</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-1D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>抜きにして</string>
			<key>CN</key>
			<string>省略、跳过</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>1-3D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>かいがあって</string>
			<key>CN</key>
			<string>有了效果、有了价值</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-1A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>かいがない</string>
			<key>CN</key>
			<string>没有效果、没有价值</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-1B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>がい</string>
			<key>CN</key>
			<string>值得 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-1C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>てまで</string>
			<key>CN</key>
			<string>到了一定程度、令人吃惊</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-1D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>える</string>
			<key>CN</key>
			<string>可能、有可能</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-2C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>にしたら</string>
			<key>CN</key>
			<string>对于 .. 来说</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-5A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>として</string>
			<key>CN</key>
			<string>以 .. 为 ..</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>2-5D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>とおり</string>
			<key>CN</key>
			<string>与 .. 一样</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>3-1A</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ままに</string>
			<key>CN</key>
			<string>正如之前的状态那样</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>3-1B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ことに</string>
			<key>CN</key>
			<string>令人 .. 的是</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>3-1C</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>くせして</string>
			<key>CN</key>
			<string>责难的心情</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>4-4D</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ことだから</string>
			<key>CN</key>
			<string>以某人的一贯作风</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>5-2B</string>
		</dict>
		<dict>
			<key>JP</key>
			<string>ないものか</string>
			<key>CN</key>
			<string>能不能 .. 呢？</string>
			<key>Detail</key>
			<string>
    阿斯顿发送分
            </string>
			<key>Index</key>
			<string>7-5D</string>
		</dict>
	</array>
</dict>
</plist>
